body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: #fbfbfe;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #fbfbfe;
    font-size: 16px;
}

button {
    padding: 12px 32px;
    font-size: 16px;
    color: #00010A;
    background-color: #fbfbfe;
    border: none;
}

h1 {
    font-size: 94px;
    font-weight: 500;
}

h2 {
    
    font-size: 52px;
    font-weight: 500;
    align-self: center;
}

h3 {
    
    font-size: 40px;
    font-weight: 500;
    align-self: center;
    margin: 0%;
}

p {
    font-size: 26px;
    font-weight: 300;
    
}

.page-padding {
    padding-left: 80px;
    padding-right: 80px;
}

.container {
    max-width: 1600px;
    margin: auto;
}

.nav {
        position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: auto;
    z-index: 1;
}
.nav-wrapper {

    display: flex;
    padding: 40px 0px;
    justify-content: center;

}

.nav_logo-wrapper {
    height: 35px;
    display: flex;
    align-self: center;
    
}

.nav_links-wrapper {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 54px;
}

.get-started_button {
    background-color: transparent;
    border-style: solid;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: #fbfbfe;
    color: #fbfbfe;
    font-weight: 100;
    opacity: 70%;

}

.hero-section {
    height: 100vh;
}

.hero_content-wrapper {
    margin-top: 23vh;
    display: flex;
    justify-content: space-between;
    
}

.hero_right-wrapper {
    display: flex;
    height: 550px;
    width: auto;
    justify-content: center;
}


.hero_left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 700px;
}

.hero_describtion {
    max-width: 400px;
    margin-bottom: 60px;
    margin-top: 5px;
    font-weight: 200;
}

.start-building_button {
    background-color: #2e51bb;
    color: #fbfbfe;
    font-size: 26px;
    font-weight: 400;
    padding: 21px 52px;
    
}

.hero_header {
    margin: 0;
}

.features-section {
    margin-bottom: 320px;
}

.section_header {
    margin-bottom: 120px;
}

.features_content-wrapper {
    display: flex;
    flex-direction: column;

}

.features_wrapper {
    display: flex;
    justify-content: center;
    gap: 140px;
    
}


.feature_image-wrapper {
    display: flex;
    height: 120px;
    opacity: 95%;
    margin-bottom: 40px;
    
    
}

.features_feature-describtion {
    max-width: 200px;
    text-align: center;
    font-weight: 100;
}

.feature-icon {
    margin: 0 auto;
}

.review-section {
    background-color: #161616;
    padding: 120px 0px 60px;
    margin-bottom: 200px;

}

.review-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0px auto;
}
.review-text {
    font-size: 46px;
    font-weight: 200;
    max-width: 1200px;
    margin: 0%;
    
}

.customer-name {
    align-self: flex-end;
    padding: 0px 60px;
    font-weight: 700;
    font-size: 32px;
}

.cta-section {
    padding: 120px 0;
    margin-bottom: 60px; ;
}

.cta_card-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.cta_card {
    background-color: #2e51bb;
    padding: 40px;
    border-radius: 5px;
}

.cta_card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.cta_right {
    align-items: center;
    justify-content: center;
    align-content: center;
}

.cta_describtion {
    margin: 0%;
    font-weight: 100;
}

.footer {
    background-color: #161616;    
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.footer-copyright {
    margin: 0%;
    color: #fbfbfe56;

}

.footer-link {
    color: #fbfbfe56;
    font-size: 26px;
    text-decoration: underline;
}


